<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Write new message</title>
</head>
<body>
    <h3>Write your message..</h3>
    <form method="POST" action="/chats">
        <input placeholder="who you are" name="from">
        <textarea name="msg">Write message..</textarea>
        <input placeholder="reciver name" name="to">
        <button>submit</button>
    </form>
</body>
</html>